# Исключить папки сборки
bin/
obj/

# Исключить файлы конфигурации IDE
.vs/
.vscode/

# Исключить файлы Git
.git/
.gitignore

# Исключить файлы Docker
Dockerfile
.dockerignore

# Исключить файлы GitHub Actions
.github/